# binary file
*mycopy
*reverse
*mydir
*square
*square2
*hellothread
*statistics

# test file
*.rev

# c
*.o
*.obj
*.a

# java
*.class

# mac
*.DS_Store

# git
*.git/

# svn
*.svn

# backup file
*.bak
*.swp
*.bk
*.zip
*aufgabe-*
